@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model List<ActorModel>
@{
    ViewData["Title"] = "Actors - Cinema Boutique";
}

<div class="text-center p-2">
    <h1 class="display-4">Actors</h1>
    <h1> </h1>
</div>

<table class="table text-center table-hover ">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Biography </th>
            <th scope="col">Birthday</th>
            @if (User.IsInRole("Admin"))
            {
                <th scope="col"></th>
            }
        </tr>
    </thead>
    <tbody>
    @foreach (var actor in Model)
    {
        <tr>
            <th scope="col">@actor.Id</th>
            <th scope="col">@actor.FirstName @actor.MiddleName @actor.LastName</th>
            <th scope="col">@actor.Biography</th>
            <th scope="col">@actor.BirthDate.ToString("dd/M/yyyy")</th>
            @if (User.IsInRole("Admin"))
            {
                <th scope="col">
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            •••
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" asp-controller="Actors" asp-action="Edit" asp-route-id="@actor.Id">Edit</a>
                            <a class="dropdown-item" asp-controller="Actors" asp-action="Delete" asp-route-id="@actor.Id">Delete</a>
                        </div>
                    </div>
                </th>
            }
        </tr>
    }
    </tbody>
</table>
@if (User.IsInRole("Admin"))
{
    <div class="text-white">
        <a class="btn btn-primary active" asp-controller="Actors" asp-action="Edit">Add new actor</a>
    </div>
}